<head>
</head>

<body>
    <h1>Sokoban</h1>

    <h2>C'est quoi ?</h2>
    <p>Sokoban est un jeu video de reflexion invente au Japon.</p>

    <h2>Regles du jeu</h2>
    <p>Gardien d'entrepot (divise en cases carrees), le joueur doit ranger des caisses sur des cases cibles. <br>
    Il peut se deplacer dans les quatre directions, et pousser (mais pas tirer) une seule caisse à la fois. <br>
    Une fois toutes les caisses rangees (c'est parfois un vrai casse-tete), le niveau est reussi et le joueur passe au niveau suivant, plus difficile en general. <br>
    L'ideal est de reussir avec le moins de coups possibles (deplacements et poussees).</p>

</body>
